body {
  background-color: #fbf8f1;
  justify-items: center;

  margin: 0;
  font-family: "Hanalei Fill", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Hanalei Fill", cursive;
}
